{%- assign hide_default_title = false -%}
{%- if currentProduct.variants.size == 1 and currentProduct.variants.first.title contains 'Default' -%}
	{%- assign hide_default_title = true -%}
{%- endif -%}
<div class="options animation {% if hide_default_title %}hide{% else %}flex flex-wrap{% endif %}"> 
  {%- if settings.variants_layout == 'swatches' -%}
    {%- for option in currentProduct.options -%}
      {%- include 'swatch' with option -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if currentProduct.options.size == 1 and settings.variants_layout == 'dropdown' -%}
  	<label class="single">{{ currentProduct.options }}</label>
  {%- endif -%}
  <select class="select-variant" id="product-select-{{ currentProduct.id }}">
    {%- for variant in currentProduct.variants -%}
    	<option value="{{ variant.id }}">{{ variant.title | escape }}</option>
    {%- endfor -%}
  </select>
  <input type="hidden" name="id[]" id="product-{{ currentProduct.id }}-variant" value="" />
  
  {%- if currentProduct.metafields.addons.handles -%}
  	{%- include '_product_addons', sectionProducts: true, sectionVariants: false -%}
  {%- endif -%}
</div>

{%- if currentProduct.metafields.addons.handles -%}
  {%- include '_product_addons', sectionProducts: false, sectionVariants: true -%}
{%- endif -%}