<style>
  .hero-carousel {overflow: hidden; box-sizing: initial;}
  .hero-carousel.slick-pending {display: block; max-height: 90vh;}
  .hero-carousel.slick-initialized {max-height: none;}
  .hero-carousel .slick-list {padding: 0;}
  .hero-carousel .item_img {background-repeat: no-repeat; background-position: center; background-size: cover; }
  .hero-carousel .item {position: relative;}
  .hero-carousel .overlay {padding: 0; position: absolute; z-index: 5; top: 0; left: 0; width: 100%; height: 100%; }
  .hero-carousel .overlay:before {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
  .hero-carousel .content {position: relative; height: 100%;}
  .hero-carousel .title {color: inherit; -webkit-animation-delay: 0.2s; animation-delay: 0.2s;}
  .hero-carousel .text {color: inherit; -webkit-animation-delay: 0.4s; animation-delay: 0.4s;}
  .hero-carousel .text p {color: inherit;}
  .hero-carousel .btn {-webkit-animation-delay: 0.6s; animation-delay: 0.6s;}
  .hero-carousel .slick-slide {margin: 0 !important; }
  .hero-carousel .slick-arrow {opacity: 0; filter: alpha(opacity=0);}
  .isNotMobile .hero-carousel:hover .slick-arrow.left-arrow {opacity: 1; filter: alpha(opacity=100); left: 30px;}
  .isNotMobile .hero-carousel:hover .slick-arrow.right-arrow {opacity: 1; filter: alpha(opacity=100); right: 30px;}
  .hero-carousel .featured-img {-webkit-animation-delay: 0.8s; animation-delay: 0.8s; width: 20%; height: 100%; position: absolute; right: 10%; top: 0; background-size: contain; background-repeat: no-repeat;}
  
  {%- unless section.settings.full_width -%}
  @media all and (min-width: 601px){#shopify-section-{{ section.id }} {box-sizing: content-box; max-width: {{settings.container_width}}; margin: auto; padding: 0 1.5rem;}}
  {%- endunless -%}
  #shopify-section-{{ section.id }} .hero-carousel.normal-desktop .item_img {padding-top: {{section.settings.img_height}};}
  #shopify-section-{{ section.id }} .hero-carousel .slick-arrow {color: {{section.settings.arrow_color}};}
  #shopify-section-{{ section.id }} .hero-carousel .slick-arrow path {fill: {{section.settings.arrow_color}};}
  #shopify-section-{{ section.id }} .isNotMobile .hero-carousel .slick-arrow:hover path {fill: {{section.settings.arrow_hover_color}};}
  #shopify-section-{{ section.id }} .hero-carousel .slick-dots {position: absolute; bottom: 2em; margin: 0;}
  #shopify-section-{{ section.id }} .hero-carousel .slick-dots li button {background: {{section.settings.dots_color}}; border: 3px solid {{section.settings.dots_color}};}
  #shopify-section-{{ section.id }} .hero-carousel .slick-dots li.slick-active button {background: {{ section.settings.dots_active_color }}; border-color: {{ section.settings.dots_active_color }};}
  
  @media all and (max-width: 600px) {
    {%- unless section.settings.full_width_mobile -%}
      #shopify-section-{{ section.id }} {box-sizing: content-box; padding: 0 1.5rem;}
    {%- endunless -%}
    #shopify-section-{{ section.id }} .hero-carousel.normal-mobile .item_img {padding-top: {{section.settings.img_height_mobile}};}
    #shopify-section-{{ section.id }} .hero-carousel .featured-img {display: none; position: static; margin: 0 auto; width: 35% !important; height: auto; padding-top: 35%;}
    .hero-carousel .overlay {text-align: center; padding: 0 2em;}
    .hero-carousel .captions {margin: 0 auto !important;}
  }
</style>

<div class="hero-carousel{% if section.blocks.size > 1 %} slick-pending{% endif %}{% if section.settings.full_height %} full-height-desktop{% else %} normal-desktop{% endif %}{% if section.settings.full_height_mobile %} full-height-mobile{% else %} normal-mobile{% endif %}">
  {%- for block in section.blocks -%}
      <div class="item block-{{ block.id }}">
        <style>
          #shopify-section-{{ section.id }} .block-{{ block.id }} .captions {max-width: {{block.settings.text_width}}; color: {{block.settings.text_color}}; padding: {{block.settings.text_padding}};}
          #shopify-section-{{ section.id }} .block-{{ block.id }} .captions .title {color: {{block.settings.title_color}};}
          #shopify-section-{{ section.id }} .block-{{ block.id }} .captions .text {color: {{block.settings.text_color}};}
          {%- if block.settings.overlay_color_ != "rgba(0,0,0,0)" -%}
          #shopify-section-{{ section.id }} .block-{{ block.id }} .overlay:before {content: ''; background: {{block.settings.overlay_color_}}; filter: alpha(opacity={{block.settings.overlay_opacity_ | times: 100}}); -moz-opacity: {{block.settings.overlay_opacity_}}; -khtml-opacity: {{block.settings.overlay_opacity_}}; opacity: {{block.settings.overlay_opacity_}};}
          {%- endif -%}
          @media all and (max-width: 600px){
            #shopify-section-{{ section.id }} .block-{{ block.id }} .captions {padding: {{block.settings.text_padding_mobile}};}
          }
        </style>
        {%- if block.settings.show_captions == false and block.settings.link != blank -%}
          <a href="{{block.settings.link}}">
        {%- endif -%}
            <div class="item_img{% if section.settings.full_height %} full-height{% else %} normal{% endif %}{% if block.settings.image != blank %} lazyload{% unless forloop.first == true %} lazypreload{% endunless %}{% endif %}" {% if block.settings.image != blank %} {% if forloop.first == true %}style="background-image: url({{ block.settings.image | img_url: '300x' }});"{% endif %} data-bgset="{% include 'lazy_src', image: block.settings.image %}"{% endif %}></div>   
            <div class="overlay overlay-{{forloop.index}} text-{{block.settings.text_align}}">
              <div class="container content flex flex-wrap align-items-center justify-content-{{block.settings.text_position}}">
                {%- if block.settings.show_captions -%}
                <div class="captions">
                  {%- if block.settings.title != "" -%}
                  <{% if forloop.first %}h1{% else %}h2{% endif %} class="title{% unless forloop.first %} invisible{% endunless %}" data-effect="{{block.settings.title_effect}}" >{{ block.settings.title }}</{% if forloop.first %}h1{% else %}h2{% endif %}>
                  {%- endif -%}
                  {%- if block.settings.text != "" -%}
                  <div class="text{% unless forloop.first %} invisible{% endunless %}" data-effect="{{block.settings.text_effect}}">{{ block.settings.text }}</div>
                  {%- endif -%}
                  {%- if block.settings.button != "" -%}
                  <a href="{{ block.settings.link }}" class="btn{% unless forloop.first %} invisible{% endunless %}" data-effect="{{block.settings.button_effect}}">
                    {{ block.settings.button }}
                  </a>
                  {%- endif -%}
                </div>
                {%- endif -%}
                {%- if block.settings.featured_image != blank -%}
                <div class="featured-img{% unless forloop.first %} invisible{% endunless %} lazyload" data-effect="{{block.settings.image_effect}}" style="background-position: {{block.settings.featured_image_position}}; width: {{block.settings.featured_image_width}}; right: {{block.settings.featured_image_right}}; left: {{block.settings.featured_image_left}};" data-bgset="{% include 'lazy_src', image: block.settings.featured_image %}"></div>
                {%- endif -%}
              </div>
            </div>
        {%- if block.settings.show_captions == false and block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </div>
  {%- endfor -%}
</div>
<script>
  $(function(){
    {%- if section.settings.full_height or section.settings.full_height_mobile -%}
	  var updateHeight = function() {
        var fullHeight = $(window).height() - $('#header:not(.over-carousel)').height();
        var minHeight = $(window).height() - $('#shopify-section-{{ section.id }} .captions').height();
        {%- if section.settings.full_height -%}   
          if($(window).width() > 600){
        	$('#shopify-section-{{ section.id }} .full-height-desktop .item_img').height(fullHeight).css('min-height', minHeight);
          }
        {%- endif -%}
        {%- if section.settings.full_height_mobile -%}    
          if($(window).width() <= 600){          
        	$('#shopify-section-{{ section.id }} .full-height-mobile .item_img').height(fullHeight).css('min-height', minHeight);
          }
        {%- endif -%}
      };
      updateHeight();
      /*$(window).resize($.debounce(50, updateHeight));*/
    {%- endif -%}

    {%- if section.blocks.size > 1 -%}
    var heroCarousel = $('#shopify-section-{{ section.id }} .hero-carousel');
    heroCarousel.slick({
      autoplay: false,
      dots: {% if section.settings.show_dots %}true{% else %}false{% endif %},
      arrows: {% if section.settings.show_arrows %}true{% else %}false{% endif %},
      fade: {{ section.settings.fade }},
      pauseOnHover: false,
      speed: 1000,
      prevArrow: '{% include 'icons', icon: 'arrow-left' %}',
      nextArrow: '{% include 'icons', icon: 'arrow-right' %}'
    });
    heroCarousel.on('beforeChange', function(event, slick, currentSlide, nextSlide){
      setTimeout(function(){
        heroCarousel.find('.slick-slide').each(function(){
          var title = $(this).find('.title');
          var text = $(this).find('.text');
          var button = $(this).find('.btn');
          var image = $(this).find('.featured-img');
          title.removeClass(title.data('effect')).removeClass('animated').addClass('invisible');
          text.removeClass(text.data('effect')).removeClass('animated').addClass('invisible');
          button.removeClass(button.data('effect')).removeClass('animated').addClass('invisible');
          image.removeClass(image.data('effect')).removeClass('animated').addClass('invisible');
        });
        var currentItem = $(slick.$slides[nextSlide]);
        currentItem.find('.title').removeClass('invisible').addClass('animated').addClass(currentItem.find('.title').data('effect'));
        currentItem.find('.text').removeClass('invisible').addClass('animated').addClass(currentItem.find('.text').data('effect'));
        currentItem.find('.btn').removeClass('invisible').addClass('animated').addClass(currentItem.find('.btn').data('effect'));
        currentItem.find('.featured-img').removeClass('invisible').addClass('animated').addClass(currentItem.find('.featured-img').data('effect'));
      }, {% if section.settings.fade == 'true' %}0{% else %}800{% endif %});
    });
    {%- endif -%}
    
  });
</script>

{% schema %}
  {
    "name": "Hero Carousel",
    "class": "carousel",
	"max_blocks": 15,
    "settings": [
	  {
        "type": "header",
        "content": "Desktop Settings"
      },
	  {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width?",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "full_height",
        "label": "Full height?",
        "default": true
      },
	  {
        "type": "text",
        "id": "img_height",
        "label": "Custom height",
        "default": "45%",
		"info": "If not full height."
      },
	  {
        "type": "header",
        "content": "Mobile Phones Settings"
      },
	  {
        "type": "checkbox",
        "id": "full_width_mobile",
        "label": "Full width?",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "full_height_mobile",
        "label": "Full height?",
        "default": true
      },
	  {
        "type": "text",
        "id": "img_height_mobile",
        "label": "Custom height",
        "default": "120%",
		"info": "If not full height."
      },
	  {
        "type": "header",
        "content": "General Settings"
      },
	  {
        "type": "select",
        "id": "fade",
        "label": "Effect",
        "options": [
          {"value": "false","label": "Slide"},
          {"value": "true","label": "Fade in\/out"}
        ],
        "default": "true"
      },
	  {
        "type": "paragraph",
        "content": "Arrows"
      },
	  {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show arrows?",
        "default": true
      },
      {
        "type": "color",
        "id": "arrow_color",
        "label": "Arrow color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "arrow_hover_color",
        "label": "Arrow color on hover",
        "default": "#0089ff"
      },
      {
        "type": "paragraph",
        "content": "Dots"
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show dots?",
        "default": true
      },
      {
        "type": "color",
        "id": "dots_color",
        "label": "Dots color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "dots_active_color",
        "label": "Active dot color",
        "default": "#0089ff"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Background Settings"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
          },
		  {
            "type": "color",
            "id": "overlay_color_",
            "label": "Overlay color",
            "default": "#314438"
          },
		  {
            "type": "range",
            "id": "overlay_opacity_",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "unit": "op",
            "label": "Overlay opacity",
            "default": 0.5
          },
          {
            "type": "header",
            "content": "Content Settings"
          },
          {
            "type": "checkbox",
            "id": "show_captions",
            "label": "Show text/button?",
            "default": true
          },
          {
            "type": "text",
            "id": "text_width",
            "label": "Text Width",
            "default": "40em"
          },
          {
            "type": "text",
            "id": "text_padding",
            "label": "Text Padding (Desktop)",
            "default": "0"
          },
          {
            "type": "text",
            "id": "text_padding_mobile",
            "label": "Text Padding (Mobile)",
            "default": "0"
          },
		  {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "options": [
              {"value": "start", "label": "Left"},
			  {"value": "center", "label": "Center"},
			  {"value": "end", "label": "Right"}
            ],
            "default": "center"
          },
		  {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "options": [
              {"value": "left", "label": "Left"},
			  {"value": "center", "label": "Center"},
			  {"value": "right", "label": "Right"}
            ],
            "default": "center"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "This is a Slide"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
			"default": "#ffffff"
          },
		  {
            "type": "richtext",
            "id": "text",
            "label": "Description",
			"default": "<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Nunc eu eros augue. Cras tempus finibus mi, at aliquet orci vestibulum sit amet.</p>"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
			"default": "#ffffff"
          },
		  {
            "type": "text",
            "id": "button",
            "label": "Button",
			"default": "Button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "If the Button text is blank, the actual button will dissappear and the whole image will link to this url."
          },
		  {
            "type": "header",
            "content": "Featured Image"
          },
		  {
            "type": "image_picker",
            "id": "featured_image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "featured_image_width",
            "label": "Width",
            "default": "25%"
          },
		  {
            "type": "text",
            "id": "featured_image_right",
            "label": "Right Coordinates",
            "default": "10%"
          },
		  {
            "type": "text",
            "id": "featured_image_left",
            "label": "Left Coordinates",
            "default": "auto"
          },
		  {
            "type": "select",
            "id": "featured_image_position",
            "label": "Alignment",
            "options": [
              {"value": "center top", "label": "Top"},
			  {"value": "center", "label": "Center"},
			  {"value": "center bottom", "label": "Bottom"}
            ],
            "default": "center"
          },
		  {
            "type": "header",
            "content": "Effects"
          },
		  {
            "type": "select",
            "id": "title_effect",
            "label": "Title Effect",
            "options": [
              {"value": "fadeIn", 		"label": "fadeIn"},
			  {"value": "fadeInDown", 	"label": "fadeInDown"},
			  {"value": "fadeInLeft", 	"label": "fadeInLeft"},
			  {"value": "fadeInRight", 	"label": "fadeInRight"},
			  {"value": "fadeInUp", 	"label": "fadeInUp"},
			  {"value": "bounceIn", 	"label": "bounceIn"},
			  {"value": "bounceInDown", "label": "bounceInDown"},
			  {"value": "bounceInLeft", "label": "bounceInLeft"},
			  {"value": "bounceInRight","label": "bounceInRight"},
			  {"value": "bounceInUp", 	"label": "bounceInUp"},
		      {"value": "flipInX", 		"label": "flipInX"},
			  {"value": "flipInY", 		"label": "flipInY"},
			  {"value": "zoomIn", 		"label": "zoomIn"},
			  {"value": "zoomInDown", 	"label": "zoomInDown"},
			  {"value": "zoomInLeft", 	"label": "zoomInLeft"},
			  {"value": "zoomInRight", 	"label": "zoomInRight"},
			  {"value": "zoomInUp", 	"label": "zoomInUp"}
            ],
            "default": "fadeInUp"
          },
		  {
            "type": "select",
            "id": "text_effect",
            "label": "Description Effect",
            "options": [
              {"value": "fadeIn", 		"label": "fadeIn"},
			  {"value": "fadeInDown", 	"label": "fadeInDown"},
			  {"value": "fadeInLeft", 	"label": "fadeInLeft"},
			  {"value": "fadeInRight", 	"label": "fadeInRight"},
			  {"value": "fadeInUp", 	"label": "fadeInUp"},
			  {"value": "bounceIn", 	"label": "bounceIn"},
			  {"value": "bounceInDown", "label": "bounceInDown"},
			  {"value": "bounceInLeft", "label": "bounceInLeft"},
			  {"value": "bounceInRight","label": "bounceInRight"},
			  {"value": "bounceInUp", 	"label": "bounceInUp"},
		      {"value": "flipInX", 		"label": "flipInX"},
			  {"value": "flipInY", 		"label": "flipInY"},
			  {"value": "zoomIn", 		"label": "zoomIn"},
			  {"value": "zoomInDown", 	"label": "zoomInDown"},
			  {"value": "zoomInLeft", 	"label": "zoomInLeft"},
			  {"value": "zoomInRight", 	"label": "zoomInRight"},
			  {"value": "zoomInUp", 	"label": "zoomInUp"}
            ],
            "default": "fadeInUp"
          },
          {
            "type": "select",
            "id": "button_effect",
            "label": "Button Effect",
            "options": [
              {"value": "fadeIn", 		"label": "fadeIn"},
			  {"value": "fadeInDown", 	"label": "fadeInDown"},
			  {"value": "fadeInLeft", 	"label": "fadeInLeft"},
			  {"value": "fadeInRight", 	"label": "fadeInRight"},
			  {"value": "fadeInUp", 	"label": "fadeInUp"},
			  {"value": "bounceIn", 	"label": "bounceIn"},
			  {"value": "bounceInDown", "label": "bounceInDown"},
			  {"value": "bounceInLeft", "label": "bounceInLeft"},
			  {"value": "bounceInRight","label": "bounceInRight"},
			  {"value": "bounceInUp", 	"label": "bounceInUp"},
		      {"value": "flipInX", 		"label": "flipInX"},
			  {"value": "flipInY", 		"label": "flipInY"},
			  {"value": "zoomIn", 		"label": "zoomIn"},
			  {"value": "zoomInDown", 	"label": "zoomInDown"},
			  {"value": "zoomInLeft", 	"label": "zoomInLeft"},
			  {"value": "zoomInRight", 	"label": "zoomInRight"},
			  {"value": "zoomInUp", 	"label": "zoomInUp"}
            ],
            "default": "fadeInUp"
          },
		  {
            "type": "select",
            "id": "image_effect",
            "label": "Image Effect",
            "options": [
              {"value": "fadeIn", 		"label": "fadeIn"},
			  {"value": "fadeInDown", 	"label": "fadeInDown"},
			  {"value": "fadeInLeft", 	"label": "fadeInLeft"},
			  {"value": "fadeInRight", 	"label": "fadeInRight"},
			  {"value": "fadeInUp", 	"label": "fadeInUp"},
			  {"value": "bounceIn", 	"label": "bounceIn"},
			  {"value": "bounceInDown", "label": "bounceInDown"},
			  {"value": "bounceInLeft", "label": "bounceInLeft"},
			  {"value": "bounceInRight","label": "bounceInRight"},
			  {"value": "bounceInUp", 	"label": "bounceInUp"},
		      {"value": "flipInX", 		"label": "flipInX"},
			  {"value": "flipInY", 		"label": "flipInY"},
			  {"value": "zoomIn", 		"label": "zoomIn"},
			  {"value": "zoomInDown", 	"label": "zoomInDown"},
			  {"value": "zoomInLeft", 	"label": "zoomInLeft"},
			  {"value": "zoomInRight", 	"label": "zoomInRight"},
			  {"value": "zoomInUp", 	"label": "zoomInUp"}
            ],
            "default": "fadeInLeft"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Carousel",
        "category": "Home",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}