<style>
  #shopify-section-{{ section.id }} .featured-collections {text-align: center; background: {{section.settings.section_bg}}; padding: {{section.settings.section_padding_desktop}};}
  .featured-collections .col {width: 100%; position: relative; overflow: hidden;}
  .featured-collections .col .bg {position: absolute; left:0; top:0; width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;}
  .featured-collections .col .overlay {color: #fff; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7);}
  .featured-collections .col .overlay .title {font-size: 2em; line-height: 150%; text-transform: uppercase;}
  .featured-collections .col .overlay .qty {font-size: 1.2em; display: block; font-weight: 500;}
  .isNotMobile .featured-collections .col:hover .bg {box-shadow: 0 12px 20px rgba(0,0,0,0.2); -ms-transform: scale(1.05, 1.05); -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05);}
  .isNotMobile .featured-collections .col:hover .overlay {background: rgba(0,0,0,0); color: {{settings.content_main_color}};}
  
  @media all and (max-width: 600px) {
    #shopify-section-{{ section.id }} .featured-collections {padding: {{section.settings.section_padding_mobile}};}
    .featured-collections .grid__item {margin-bottom: 20px;}
  }
</style>

<section class="featured-collections">
  <div class="container">
    {%- if section.settings.title != "" -%}
    	<h2 {% if section.settings.hide_title %}class="visuallyhidden"{% endif %}>{{section.settings.title}}</h2>
    {%- endif -%}
    <div class="grid justify-content-center">
      {%- for block in section.blocks -%}
      <div class="grid__item {{section.settings.items_row}} {{section.settings.items_row_medium}} {{section.settings.items_row_small}}">
        {%- assign col = collections[block.settings.collection] -%}
        <a href="{{col.url}}">
          <div class="col" style="padding-top: {{section.settings.items_height}};">
            <div class="bg ease-animation-slow lazyload" {% if col.image != blank %}data-bgset="{% include 'lazy_src', image: col.image %}"{% else %}data-bgset="{% include 'lazy_src', image: col.products.first.images.first %}"{% endif %}></div>
            <div class="overlay ease-animation-slow flex justify-content-center align-items-center">
              <div class="wrap">
                <div class="title heading_font">{{col.title}}</div>
                {%- if section.settings.show_quantity -%}
                <span class="qty">{{ col.all_products_count }} {{ col.all_products_count | pluralize: 'product', 'products' }}</span>
                {%- endif -%}
              </div>
            </div>
          </div>
        </a>
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured Collections",
    "settings": [
	  {
        "type": "color",
        "id": "section_bg",
        "label": "Background Color",
        "default": "#ffffff"
      },
	  {
        "type": "text",
        "id": "section_padding_desktop",
        "label": "Section Padding (Desktop)",
        "default": "4em 0"
      },
      {
        "type": "text",
        "id": "section_padding_mobile",
        "label": "Section Padding (Mobile)",
        "default": "3em 0"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured Collections"
      },
      {
        "type": "checkbox",
        "id": "hide_title",
        "label": "Hide Title?",
        "default": false
      },
	  {
        "type": "text",
        "id": "items_height",
        "label": "Items Height",
        "default": "60%",
		"info": "In % relative to the width of the element, 100% being squared."
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show products quantity?",
        "default": true
      },
	  {
        "type": "select",
        "id": "items_row",
        "label": "Items per row",
        "options": [
		  {
            "value": "large--one-half",
            "label": "2 items per row"
          },
          {
            "value": "large--one-third",
            "label": "3 items per row"
          },
          {
            "value": "large--one-quarter",
            "label": "4 items per row"
          }
        ],
		"default": "large--one-third"
      },
	  {
        "type": "select",
        "id": "items_row_medium",
        "label": "Items per row Tablets",
        "options": [
		  {
            "value": "medium--one-half",
            "label": "2 items per row"
          },
          {
            "value": "medium--one-third",
            "label": "3 items per row"
          },
          {
            "value": "medium--one-quarter",
            "label": "4 items per row"
          }
        ],
		"default": "medium--one-third"
      },
	  {
        "type": "select",
        "id": "items_row_small",
        "label": "Items per row Phones",
        "options": [
		  {
            "value": "small--one-whole",
            "label": "1 items per row"
          },
          {
            "value": "small--one-half",
            "label": "2 items per row"
          },
          {
            "value": "small--one-third",
            "label": "3 items per row"
          }
        ],
		"default": "small--one-whole"
      }
	],
	"blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Collections",
        "category": "Home"
      }
    ]
  }
{% endschema %}