<style>
  #shopify-section-{{ section.id }} .introducing {padding: {{section.settings.section_padding_desktop}}; background-color: {{section.settings.bg_color}};}
  #shopify-section-{{ section.id }} .introducing .title {color: {{section.settings.title_color}};}
  #shopify-section-{{ section.id }} .introducing .text {color: {{section.settings.text_color}};}
  #shopify-section-{{ section.id }} .introducing .wrap {max-width: {{section.settings.text_width}}em; padding: {{section.settings.text_padding_desktop}};}
  #shopify-section-{{ section.id }} .introducing:not(.with-image) .text-column {background-color: {{section.settings.text_bg_color}};}
  #shopify-section-{{ section.id }} .introducing.with-image .text-column:before {content: ''; background-color: {{section.settings.text_bg_color}}; position: absolute; top: 0; right: 0; height: 100%; {% if section.settings.text_bg_extend %}width: calc({{100 | minus: section.settings.image_width_ }}% + 6em){% else %}width: {{100 | minus: section.settings.image_width_ }}%{% endif %}; }
  #shopify-section-{{ section.id }} .introducing.with-image .row-reverse .text-column:before {right: auto; left: 0;}
  
  .introducing {position: relative; }
  .introducing .wrap {position: relative; margin: auto;}
  .introducing img {width: 100%;}
  .introducing .image-wrap {position: relative; z-index: 2;}
  .introducing .wrapper {padding: 0 2em;}
  .introducing .img {width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat;}
  .introducing p {color: inherit;}
  .introducing p:last-child {margin: 0;}
  .introducing .btn {margin-top: 2em;}
  .introducing .title {line-height: 130%;}
  .introducing .wrap {position: relative; margin: auto;}
  
  @media all and (min-width: 901px){
    #shopify-section-{{ section.id }} .introducing .image-wrap {width: {{section.settings.image_width_}}%; }
    #shopify-section-{{ section.id }} .introducing.with-image .row-reverse .text-column:before {right: auto; left: 0;}
  }
  
  {%- if template contains 'quiz' -%}
  #shopify-section-{{ section.id }} .introducing .title {color: {{section.settings.text_bg_color}};}
  #shopify-section-{{ section.id }} .introducing .text {color: {{section.settings.text_bg_color}};}
  #shopify-section-{{ section.id }} .introducing:not(.with-image) .text-column {background-color: {{section.settings.title_color}};}
  #shopify-section-{{ section.id }} .introducing.with-image .text-column:before {background-color: {{section.settings.title_color}};}
  {%- endif -%}
  
  @media all and (max-width: 900px){
    #shopify-section-{{ section.id }} .introducing {padding: {{section.settings.section_padding_mobile}};}
    #shopify-section-{{ section.id }} .introducing .wrap {padding: {{section.settings.text_padding_mobile}};}
    #shopify-section-{{ section.id }} .introducing.with-image .text-column:before {width: 100%; left: 0; top: 11em; {% if section.settings.button != "" %}bottom: 4.5em;{% else %}bottom: 0{% endif %}; height: auto;}
    .introducing .wrap {width: 100% !important; max-width: 100%; }
    .introducing .img {height: 0; padding-top: 50%; }
    .introducing .container {padding: 0;}
    .introducing .wrapper {padding: 0;}
    .introducing .btn {width: 100%; max-width: 19em;}
  }
  @media all and (max-width: 600px){
    #shopify-section-{{ section.id }} .introducing .img {padding-top: {{section.settings.image_height_mobile}};}
    .introducing .img {padding-top: {{section.settings.image_height_mobile}};}
    .introducing .image-wrap {margin: auto;}
  }
</style>

<section class="introducing {% if section.settings.image != blank %}with-image{% endif %}">
  <div {% unless section.settings.full_width %}class="container"{% endunless %}>
    <div class="grid-full content {{section.settings.image_position}}">
      {%- if section.settings.image != blank -%}
      <div class="grid__item image-wrap medium-down--one-whole">
        <div class="img lazyload" data-bgset="{% include 'lazy_src', image: section.settings.image %}"></div>
      </div>
      {%- endif -%}
      <div class="grid__item text-column wrapper large--flex-1 medium--flex-1 medium-down--one-whole">
        <div class="wrap text-{{section.settings.text_align}} medium-down--text-{{section.settings.text_align_mobile}}">
          {%- if section.settings.title != "" -%}
          <h2 class="title">{{section.settings.title}}</h2>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
          <div class="text">{{section.settings.text}}</div>
          {%- endif -%}
          {%- if section.settings.button != "" -%}
          <a href="{{section.settings.link}}" class="btn">{{section.settings.button}}</a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Introducing Bureau",
    "presets": [
      {
        "name": "Introducing Bureau",
        "category": "Global Sections"
      }
    ],
	"settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ffffff"
          },
          {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full Width?",
            "default": true
          },
          {
            "type": "text",
            "id": "section_padding_desktop",
            "label": "Section Padding (Desktop)",
            "default": "0"
          },
          {
            "type": "text",
            "id": "section_padding_mobile",
            "label": "Section Padding (Mobile)",
            "default": "0 20px"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image Position",
            "options": [
              {"value": "normal", "label": "Left"},
              {"value": "row-reverse", "label": "Right"}
            ],
            "default": "row-reverse"
          },
          {
            "type": "range",
            "id": "image_width_",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Image Width",
            "default": 50
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "image_height_mobile",
            "label": "Image Height (Mobile)",
			"default": "23em"
          },
          {
            "type": "header",
            "content": "Text Settings"
          },
          {
            "type": "color",
            "id": "text_bg_color",
            "label": "Text Background Color",
            "default": "#314438"
          },
          {
            "type": "checkbox",
            "id": "text_bg_extend",
            "label": "Extend the background 10% behind the image?",
            "default": false
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment (Desktop)",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Center"},
              {"value": "right", "label": "Right"}
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align_mobile",
            "label": "Text Alignment (Mobile)",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Center"},
              {"value": "right", "label": "Right"}
            ],
            "default": "center"
          },
          {
            "type": "range",
            "id": "text_width",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "em",
            "label": "Text Width",
            "default": 30
          },
          {
            "type": "text",
            "id": "text_padding_desktop",
            "label": "Text Padding (Desktop)",
            "default": "10em 0"
          },
          {
            "type": "text",
            "id": "text_padding_mobile",
            "label": "Text Padding (Mobile)",
            "default": "3em 0 4em"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#f3eeea"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title",
          	"default": "Introducing Bureau"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#f3eeea"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Nulla ultricies, sapien vel auctor ullamcorper, tortor leo sollicitudin ipsum, ut viverra lectus tellus nec lacus. Donec at imperdiet diam, nec luctus neque. Pellentesque ac libero vel nulla mattis tincidunt non sit amet diam. Suspendisse.<\/p>"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
		]
	  }
{% endschema %}