<style>
  #shopify-section-{{ section.id }} .dynamic-collections {text-align: center; background: {{section.settings.section_bg}}; padding: {{section.settings.section_padding_desktop}};}
  .dynamic-collections .container {padding: 0 30px;}
  .dynamic-collections .slick-slider .slick-arrow {top: 39%;}
  .dynamic-collections .index {margin-bottom: 2em;}
  .dynamic-collections .collections {position: relative;}
  .dynamic-collections .dynamic-wrapper {width: 100%; visibility: hidden; position: absolute; top: 0; left: 0;}
  .dynamic-collections .dynamic-wrapper.first {visibility: visible; position: static;}
  .dynamic-collections .index a {display: block; padding: 0.5em 2em; margin: 0.5em; border: 1px solid #777; color: #555;} 
  .isNotMobile .dynamic-collections .index a:hover {color: #000; border-color: #000; }
  .dynamic-collections .index a.active {color: {{settings.content_main_color}} !important; border-color: {{settings.content_main_color}} !important; }
  .loading {display: none; position: absolute; text-align: center; z-index: 5; top: 0; bottom: -2em; left: 0; margin-left: 0; padding: 0; width: 100%; background: #fff; background: transparent; }
  .loading .icon {display: inline-block; position: relative; top: 35%; border: 4px solid rgba(0,0,0,0.1); border-top: 4px solid #000; border-radius: 50%; width: 40px; height: 40px; animation: spin 0.5s linear infinite;}
  @keyframes spin {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
  
  @media all and (max-width: 900px){
    .dynamic-collections h2 {padding-left: 20px; padding-right: 20px;}
    .dynamic-collections .container {padding: 0;}
  }
  @media all and (max-width: 600px){
   #shopify-section-{{ section.id }} .dynamic-collections {padding: {{section.settings.section_padding_mobile}};}
  }
</style>

<section class="dynamic-collections">
  <div class="container">
    {%- if section.settings.title != "" -%}
    	<h2 {% if section.settings.hide_title %}class="visuallyhidden"{% endif %}>{{section.settings.title}}</h2>
    {%- endif -%}
    <div class="index flex flex-wrap justify-content-center">
      {%- for block in section.blocks -%}
      {%- assign col = collections[block.settings.collection] -%}
      <a class="col-target {% if forloop.first %}active{% endif %}" href="{{col.url}}" data-handle="{{col.handle}}">{{col.title}}</a>
      {%- endfor -%}
    </div>
    <div class="collections">
      <div class="loading" style="background: {{section.settings.section_bg}};"><div class="icon"></div></div>
      {%- for block in section.blocks -%}
      {%- assign col = collections[block.settings.collection] -%}
      <div class="dynamic-wrapper {% if forloop.first %}first{% endif %}" style="background: {{section.settings.section_bg}};" data-handle="{{col.handle}}">
        <div class="carousel slick-pending" style="background: {{section.settings.section_bg}};" >
          {%- for prod in col.products limit:10 -%}
          {%- include 'product_item', currentProduct: prod, quickview: settings.allow_quick_view, isCarousel: true  -%}
          {%- endfor -%}
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>

<script>
  $(function(){
    $(' #shopify-section-{{ section.id }} .index a.col-target').click(function(){
      var colHandle = $(this).data('handle');
      $(' #shopify-section-{{ section.id }} .loading').show();
      $(' #shopify-section-{{ section.id }} .index a').removeClass('active');
      $(this).addClass('active');
      $(" #shopify-section-{{ section.id }} .dynamic-wrapper").css({'visibility':'hidden','position':'absolute'});
      $(" #shopify-section-{{ section.id }} .dynamic-wrapper[data-handle='"+colHandle+"']").css({'visibility':'visible','position':'static'});
      setTimeout(function(){
      	$(' #shopify-section-{{ section.id }} .loading').hide();
      },1000);
      return false;
    });
    $(' #shopify-section-{{ section.id }} .carousel').each(function(){
   	  $(this).slick({
        autoplay: false,
        speed: 700,
        slidesToShow: {{section.settings.items_per_row}},
        slidesToScroll: {{section.settings.items_per_row}},
        prevArrow: '{% include 'icons', icon: 'arrow-left' %}',
        nextArrow: '{% include 'icons', icon: 'arrow-right' %}',
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              centerMode: true,
              centerPadding: '20%'
            }
          },
          {
            breakpoint: 900,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              arrows: false,
              centerMode: true,
              centerPadding: '20%'
            }
          }
        ]
      });
    })
  });  
</script>

{% schema %}
  {
    "name": "Dynamic Collections",
    "settings": [
	  {
        "type": "color",
        "id": "section_bg",
        "label": "Background Color",
        "default": "#ffffff"
      },
	  {
        "type": "text",
        "id": "section_padding_desktop",
        "label": "Section Padding (Desktop)",
        "default": "4em 0"
      },
      {
        "type": "text",
        "id": "section_padding_mobile",
        "label": "Section Padding (Mobile)",
        "default": "3em 0"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Dynamic Collections"
      },
      {
        "type": "checkbox",
        "id": "hide_title",
        "label": "Hide Title?",
        "default": false
      },
	  {
        "type": "select",
        "id": "items_per_row",
        "label": "Items per row",
        "options": [
          {
            "value": "3",
            "label": "3 items per row"
          },
          {
            "value": "4",
            "label": "4 items per row"
          },
          {
            "value": "5",
            "label": "5 items per row"
          },
          {
            "value": "6",
            "label": "6 items per row"
          }
        ],
		"default": "5"
      }
	],
	"blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Dynamic Collections",
        "category": "Home"
      }
    ]
  }
{% endschema %}