{% schema %}
  {
    "name": "Mailing List Form",
    "settings": [
      {
        "type": "text",
        "id": "section_padding_desktop",
        "label": "Padding (Desktop)",
        "default": "4em 0"
      },
      {
        "type": "text",
        "id": "section_padding_mobile",
        "label": "Padding (Mobile)",
        "default": "3em 0"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#314438"
      },
      {
        "type": "header",
        "content": "Mailing List"
      },
      {
        "type": "text",
        "id": "mailing_list_label",
        "label": "Title",
        "default": "Join our mailing list"
      },
      {
        "type": "text",
        "id": "mailing_list_text",
        "label": "Text",
        "default": "our new furniture, exclusive sales and more."
      },
      {
        "type": "text",
        "id": "mailing_list_success",
        "label": "Success Message",
        "default": "Thank You!"
      },
      {
        "type": "header",
        "content": "Shopify"
      },
      {
        "type": "paragraph",
        "content": "The section will use Shopify's default newsletter signup unless Klaviyo or Mailhimp forms are enabled below."
      },
      {
        "type": "header",
        "content": "Klaviyo"
      },
      {
        "type": "checkbox",
        "id": "use_klaviyo_form",
        "label": "Use Klaviyo Form?",
        "info": "Instead of Shopify's default Subscription Form ",
        "default": false
      },
      {
        "type": "text",
        "id": "klaviyo_list_id",
        "label": "List ID",
        "info": "It should look like this: P8RBDS"
      },
      {
        "type": "header",
        "content": "Mailchimp"
      },
      {
        "type": "checkbox",
        "id": "use_mailchimp_form",
        "label": "Use Mailchimp Form?",
        "info": "Instead of Shopify's default Subscription Form "
      },
      {
        "type": "text",
        "id": "mailchimp_domain",
        "label": "List domain",
        "info": "It should look like this: simplistic.us1.list-manage.com"
      },
      {
        "type": "text",
        "id": "mailchimp_user",
        "label": "User ID",
        "info": "It should look like this: 770a6efc2e5df74c77f1c0d20"
      },
      {
        "type": "text",
        "id": "mailchimp_id",
        "label": "List ID",
        "info": "It should look like this: 92239b9472"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="mailing-list flex-1">
  <label class="title heading_font" for="shopify-section-{{section.id}}-signup-email">{{section.settings.mailing_list_label}}</label>
  {%- if section.settings.mailing_list_text != "" -%}<p>{{section.settings.mailing_list_text}}</p>{%- endif -%}
  {%- if section.settings.use_mailchimp_form -%}
  <form method="post" action="//{{settings.mailchimp_domain}}/subscribe/post-json?u={{section.settings.mailchimp_user}}&id={{section.settings.mailchimp_id}}&c=?">
    <div class="success-msg">{{section.settings.mailing_list_success}}</div>
    <div class="error-msg"></div>
    <div class="form-wrap flex">
      <input id="shopify-section-{{section.id}}-signup-email" type="email" placeholder="Email address" name="EMAIL" class="required email" aria-required="true" aria-label="Email address" autocomplete="email" />
      <button class="btn v2" type="submit">Submit</button>
    </div>
  </form>
  {%- elsif section.settings.use_klaviyo_form -%}
  <form action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <div class="success-msg">{{section.settings.mailing_list_success}}</div>
    <div class="error-msg"></div>
    <div class="form-wrap flex">
      <input type="hidden" name="g" value="{{section.settings.klaviyo_list_id}}">
      <input type="hidden" name="$fields" value="source">
      <input type="hidden" name="source" value="{{section.title}}">
      <input type="email" placeholder="Email address" id="email-input" name="email" class="required email" aria-label="Email address" aria-required="true" />
      <button class="btn v2" type="submit">Submit</button>
    </div>
  </form>
  {%- else -%}
  {%- form 'customer' -%}
  <div class="success-msg" {% if form.posted_successfully? %}style="display: block"{% endif %}>{{section.settings.mailing_list_success}}</div>
  <div class="error-msg"></div>
  <div class="form-wrap flex">
    <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
    <input id="shopify-section-{{section.id}}-signup-email" type="email" placeholder="Email address" name="contact[email]" class="required email" aria-required="true" aria-label="Email Address" autocomplete="email" />
    <button class="btn v2" type="submit">Submit</button>
  </div>
  {%- endform -%}
  {%- endif -%}
</div>

<style>
  #shopify-section-{{section.id}} {padding: {{section.settings.section_padding_desktop}};background-color: {{ section.settings.bg_color }}; }

  #shopify-section-{{section.id}} .mailing-list label {display: block; padding: 0; color: {{section.settings.text_color}};}
  #shopify-section-{{section.id}} .mailing-list p {color: inherit; margin: 0;}
  #shopify-section-{{section.id}} .mailing-list .form-wrap {margin-top: 1.5em; position: relative; width: 100%; max-width: 23em;}
  #shopify-section-{{section.id}} .mailing-list input[type="email"] {flex: 1; margin-right: 1em; padding: 1em 1em; background: #fff; border: none;}
  #shopify-section-{{section.id}} .mailing-list .btn {padding: 0 1em; width: 100%; max-width: 9em;}
  
  @media all and (max-width: 900px){
    #shopify-section-{{section.id}} {padding: {{section.settings.section_padding_mobile}};}
    #shopify-section-{{section.id}} {text-align: center;}
    #shopify-section-{{section.id}} * {line-height: 150%;}
    #shopify-section-{{section.id}} .mailing-list {order: -1; padding: 0 15px; margin-bottom: 1em;}
    #shopify-section-{{section.id}} .mailing-list .form-wrap {margin: 1.5em auto 0;}
    #shopify-section-{{section.id}} .mailing-list input[type="email"] {padding: 1em;}
    #shopify-section-{{section.id}} .mailing-list .btn {padding: 0; max-width: 8em;}
  }
</style>

<script>
  $(function(){
    
    $('#shopify-section-{{section.id}} .mailing-list form').submit(function(e){
      e.preventDefault();
      e.stopImmediatePropagation();
      var form = $(this);
      var error = false;
      
      form.find('.error-msg').hide();
      form.find('.error').removeClass('error');

      form.find('.required').each(function(){
        if($(this).val()=="") {
          error = true;
          $(this).addClass('error');
        }
      });
      if(error){
          form.find('.error-msg').show().text('Please complete all the required fields.');
      }else{
        if(!Simplistic.validateEmail(form.find('.email').val())) {
          error = true;
          form.find('.email').addClass('error');
          form.find('.error-msg').show().text('Please provide a valid email address.');
        }
      }
      if(!error) {
        $.ajax({
          url: form.attr('action'),
          data: form.serialize(),
          {% if section.settings.use_mailchimp_form %}
          	dataType: 'jsonp',
          {% endif %}
          type: 'POST'
        }).done(function(){
          form.find('.form-wrap').hide();
          form.find('.success-msg').show();
        }).error(function(){
          form.unbind("submit");
          form.submit();
        });
      }
    });
  });
</script>