<style>
  .shopify-section--custom-logo-with-text .c-lwt-container {padding-top: 80px; padding-bottom: 40px;}
  .shopify-section--custom-logo-with-text .c-lwt-subtext {font-size: 12px; line-height: 17px;}
  .shopify-section--custom-logo-with-text .c-lwt-flex-item {width: 25%;}
  .shopify-section--custom-logo-with-text .c-lwt-content {max-width: 220px;}
  @media screen and (max-width:1250px) {
    .shopify-section--custom-logo-with-text .c-lwt-flex-item {width: 50%;}
  }
  @media screen and (min-width: 769px) {
    .shopify-section--custom-logo-with-text .c-lwt-flex-item {padding-right: 0; padding-left: 0;}
    .shopify-section--custom-logo-with-text .c-lwt-img-container {min-height: 70px;}
  }
  @media screen and (max-width: 768px) {
    .shopify-section--custom-logo-with-text .c-lwt-container {padding-top: 60px; padding-bottom: 20px;}
    .shopify-section--custom-logo-with-text .c-lwt-content {max-width: unset;}
    .shopify-section--custom-logo-with-text .c-lwt-flex-item {width: 100%;}
    .shopify-section--custom-logo-with-text .c-lwt-text {width: 100%;}
    .shopify-section--custom-logo-with-text .c-lwt-mobile-text-wrapper {width: 70%; padding-left: 5px;}
    .shopify-section--custom-logo-with-text .c-lwt-subheading {padding-bottom: 40px;}
  }
</style>

{% assign flag = 0 %}
<div class="page_team_custom-logo-with-text">
  <div class="c-lwt-section" style="background: {{ section.settings.bg_color }}">
    <div class="c-lwt-container">
      {% if section.settings.heading != blank %}
      <h2 class="c-lwt-heading" style="font-size: {{ section.settings.font_size1 }}px">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.subheading != blank %}
      <p class="c-lwt-subheading" style="font-size: {{ section.settings.font_size2 }}px">{{ section.settings.subheading }}</p>
      {% endif %}
      <div class="c-lwt-flex-container">
        {% for block in section.blocks %}
        {% if block.settings.hl %}
        {% assign flag = flag | plus: 1 %}
        {% endif %}
        {% if block.settings.img %}
        <div class="c-lwt-flex-item {% if flag == 1 %}c-lwt-margin{% endif %} {% if block.settings.hl %}c-lwt-flex-highlight{% endif %} {% if block.settings.hl_text != blank %}c-lwt-flex-item-padd{% endif %} c-lwt-padd">
          {% if block.settings.hl %}
          {% if block.settings.hl_text != blank %}<span class="c-lwt-flex-highlight-text {% if block.settings.hl_hideM %}c-lwt-mob{% endif %} {% if block.settings.hl_hideD %}c-lwt-desk{% endif %}">{{ block.settings.hl_text }}</span>{% endif %}
          {% endif %}
          <div class="c-lwt-content">
            <div class="c-lwt-img-container" style="top: {{ block.settings.align }}px">
            <img src="{{ block.settings.img | img_url: 'master' }}" class="c-lwt-img" loading="lazy"/>
            </div>
            <div class="c-lwt-mobile-text-wrapper">
              <p class="c-lwt-text">{{ block.settings.text }}</p>
              <p class="c-lwt-subtext">{{ block.settings.subtext }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Logo With Text",
  "class": "shopify-section--custom-logo-with-text",
  "settings": [
  {
      "id": "bg_color",
      "type": "color",
      "label": "Bg Color",
      "default": "#F3F0ED"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Focus on your work. We take care of the furniture."
    },
{
    "type":      "range",
    "id":        "font_size1",
    "min":       12,
    "max":        50,
    "step":       1,
    "unit":       "px",
    "label":     "Heading Font size",
    "default":   40
},
  {
      "id": "subheading",
      "type": "textarea",
      "label": "Subheading",
      "default": "We want to make it easy for you. Let us take care of everything so you can focus on the things you enjoy."
    },
{
    "type":      "range",
    "id":        "font_size2",
    "min":       12,
    "max":        50,
    "step":       1,
    "unit":       "px",
    "label":     "Subeading Font size",
    "default":   16
}
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Block",
      "settings": [
        {
          "id": "img",
          "type": "image_picker",
          "label": "Image"
        },
{
    "type":      "range",
    "id":        "align",
    "min":       -50,
    "max":        50,
    "step":       1,
    "unit":       "px",
    "label":     "Align Image Vertically",
    "default":   0
},

    {
          "id": "text",
          "type": "textarea",
          "label": "Text",
      "default": "Premium materials and ergonomic design"
        },
    {
          "id": "subtext",
          "type": "textarea",
          "label": "Subtext"
        },
    {
          "id": "hl",
          "type": "checkbox",
          "label": "Highlight This Box",
      "default": false
        },
    {
          "id": "hl_text",
          "type": "text",
          "label": "Highlighted Top Text",
      "default": "For team offices"
        },
    {
          "id": "hl_hideM",
          "type": "checkbox",
          "label": "Hide on Mobile",
      "default": false
        },
    {
          "id": "hl_hideD",
          "type": "checkbox",
          "label": "Hide on Desktop",
      "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo With Text",
      "category": "Custom",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}