<tr class="item {{ item.product.handle }}">
  <td class="details">
    <table>
      <tr>
        <td class="image three-tenths small--one-whole">
          {%- if item.variant.image -%}
          {%- assign variantImg = item.variant.image | img_url: "compact" -%}
          {%- else -%}
          {%- assign variantImg = item.product.featured_image | img_url: "compact" -%}
          {%- endif -%}
          <img src="{{ variantImg }}"  alt="{{ item.product.title }}" />
        </td>
        <td class="title text-left small--text-center animation seven-tenths small--one-whole">
          <a href="{{ item.url }}">
            <p class="text">{{ item.product.title }}</p>
          </a>
          {%- unless item.variant.title contains 'Default' -%}
          <p>{{ item.variant.title }}</p>
          {%- endunless -%}
          {%- for p in item.properties -%}
          {%- unless p.last == blank -%}
          <p>
            {{ p.first }}:
            {%- if p.last contains '/uploads/' -%}
            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
            {%- else -%}
            {{ p.last }}
            {%- endif -%}
          </p>
          {%- endunless -%}
          {%- endfor -%}
        </td>
      </tr>
    </table>
  </td>
  <td class="unit-price small--hide one-eighth small--one-whole">
    {%- if item.original_price and item.original_price != item.price -%}<span style="text-decoration:line-through;">{{ item.original_price | money  }}</span><br>{%- endif -%}{{ item.price | money }}{%- if item.message and item.message != "" -%}<br><span>({{ item.message }})</span>{%- endif -%}
  </td>
  <td class="qtty one-eighth small--one-whole">
    <div class="quantity">
      <div class="quantity-box">
        <div class="flex">
          <input type="button" value="-" class="minus animation" aria-label="Decrease the quantity" />
          <input type="number" step="1" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" title="Qty" min="0" aria-label="Quantity" />
          <input type="button" value="+" class="plus animation" aria-label="Increase the quantity" />
        </div>
      </div>
    </div>
  </td>
  <td class="total-price one-eighth small--one-whole">
    {{ item.line_price | money }}
  </td>
  <td class="remove one-eighth small--one-whole">
    <a class="remove-from-cart animation" href="/cart/change?line={{ forloop.index }}&quantity=0" aria-label="Remove Item">{% include 'icons', icon: 'close' %}</a>
  </td>
</tr>