{%- for link in linklists[section.settings.main__menu].links -%}
{% assign link__ = link.title | downcase %}
{% if link__ == 'explore' or link__ == 'help' %}
  <div class="item {% if link.active %}active{% endif %}{% if link.links != blank %} has-dropdown{% endif %}"{% if link.links != blank %} aria-haspopup="true"{% endif %} data-parent="{{link.handle}}">
    <a href="{{ link.url }}" {% if link.url == '#' %}onclick="return false;"{% endif %}>
      {{ link.title | escape }}{% comment %}{% include 'icons', icon: 'arrow-down' %}{% endcomment %}
    </a>
    {%- if link.links != blank -%}
    <div class="submenu">
      {%- for level2_link in link.links -%}
      <div class="item {% if level2_link.active %}active{% endif %} {% if level2_link.links != blank %} has-dropdown{% endif %}"{% if level2_link.links != blank %} aria-haspopup="true"{% endif %}>
        <a href="{{ level2_link.url }}">{{ level2_link.title | escape }}{% comment %}{% include 'icons', icon: 'arrow-right' %}{% endcomment %}</a>
        {%- if level2_link.links != blank -%}
        <div class="submenu">
          {%- for level3_link in level2_link.links -%}
          <div class="item {% if level3_link.active %}active{% endif %}">
            <a href="{{ level3_link.url }}">{{ level3_link.title | escape }}</a>
          </div>
          {%- endfor -%}
        </div>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
{% endif %}
{%- endfor -%}