<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  
  
  <!-- hreflang for CAN site -->
  <link rel="alternate" href="https://www.branchfurniture.com" hreflang="en" />
  <link rel="alternate" href="https://www.branchfurniture.com" hreflang="en-us" />
  <link rel="alternate" href="https://www.branchfurniture.ca" hreflang="en-ca" />
  
  
  <!-- GeoIP app speed booster -->
  {{ 'https://kite.spicegems.org/0/js/scripttags/bureau-office/static/country-redirect.js' | script_tag }}
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXXNLHW');</script>
  <!-- End Google Tag Manager -->
  
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  {%- if template == 'index' -%}
  	<title>{{ page_title }}</title>
  {%- elsif template == '404' -%}
  	<title>Page Not Found | Branch Office Furniture</title>
  {%- else -%}
  	<title>{{ page_title }}</title>
  {%- endif -%}
  <meta name="description" content="{{ page_description | default: page_title }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ canonical_url }}" />
  <link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">

  {%- include 'fb_open_graph' -%}
  {%- include 'fonts' -%}

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}

  <script>var jq=[];var $;$=function(f){jq.push(f)};</script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'simplistic.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'ProductJs.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {%- if template contains 'customers' or template contains 'orders' -%}
  	{{ 'customer-account.scss.css' | asset_url | stylesheet_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {%- endif -%}

  
    
   
  
  <!-- google merchant verification -->
  <meta name="google-site-verification" content="RreNO_b0d7AbnUPwxgVyRk6qcqzetubQIrxajzvrQGI" />
  <!-- end of google merchant verification -->
  
  
  
  <!-- Affirm -->
<script>
_affirm_config = {
   public_api_key:  "TRD7NHDJS5YD3M0D",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js"
};
(function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
// Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
</script>
<!-- End Affirm -->
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-771034636"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-771034636');
</script>



  {% render 'shogun-head' %}

  {% include 'friendbuy' %}
</head>

<body class="template{{ template | split: '.' | first | camelize }}{% if customer %} customer-logged-in{% endif %}">
  
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXXNLHW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <a href="#main-content" class="skip-to-main-content">Skip to Main Content</a>
  <div id="page">  
    <header role="banner">{%- section 'header' -%}</header>
    <main class="content-wrapper" id="main-content" role="main">
      	{{ content_for_layout }}	
          
    </main>
    <footer role="contentinfo">{%- section 'footer' -%}
    
    
   
    
    
    </footer>
    
    {%- include 'mega_menus' -%}
    
    {%- if settings.allow_side_cart -%}
      {%- include 'side_cart' -%}
    {%- endif -%}
    
    {%- if settings.enable_subscription_popup -%}
      {%- include 'subscription_popup' -%}
    {%- endif -%}
    
    <div id="loading-overlay"><div class="loader"></div></div>
  </div>
  {%- if settings.grid_product_image_behavior == "thumbs_swatches" -%}
    {%- if template == 'product' and settings.show_related_products -%}
    	{%- include 'thumbs_swatches_js' -%}
    {%- elsif template == "index" or template == 'search' or template == 'collection' -%}
    	{%- include 'thumbs_swatches_js' -%}
    {%- endif -%}
  {%- endif -%}
  {%- if template contains 'product' or template contains 'collection' or template == "index" -%}
  	{%- include 'photoswipe' -%}
  {%- endif -%}
 
  {%- if template contains "product" -%}
  <script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-dI7yStdVZ98rvmQYEj4195aAulX731" src="https://cdn1.stamped.io/files/widget.min.js"></script>
  {%- endif -%}  
  
  {% if template contains 'product' %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>  
    <script type="text/javascript">
  $(document).ready(function() {
//    if ($(window).width() < 550 ) {
    $('#hideshow').click(function(){        
         $('.add-to-cart-form').css('display','none');
         $('.product-info').addClass('no-pad');
         $('.product-info').addClass('bgborder');
         $('.contents-outer').css('position','relative');
         $('#contents').css('display','block');
         $('#contents').css('position','relative');
    });
    $('#hideshow2').click(function() {        
         $('.add-to-cart-form').css('display','block');
         $('.product-info').removeClass('no-pad');
         $('.product-info').removeClass('bgborder');
         $('.contents-outer').css('position','absolute');
         $('#contents').css('display','none');
         $('#contents').css('position','absolute');
    });
// }else {
    
    
//    
//    $('#hideshow').click(function(){        
//         $('#contents').toggle();
//    });
//    $('#hideshow2').click(function() {        
//         $('#contents').toggle();
//    });
// }
});
  </script>
  {% endif %}


  
<!--Gorgias Chat Widget Start--><div id="gorgias-chat">{% if customer %}<script>window.gorgiasChatParameters = {"smooch": {"givenName": "{{ customer.name }}","email": "{{ customer.email }}","properties": {"shopify__cart__total_price": "{{ cart.total_price | money | strip_html | default: null }}","shopify__cart__nb_of_items": {{ cart.items | size | default: 0 }},{% for item in cart.items %}"shopify__cart__items-{{ forloop.index }}-[]":"{\"line_price\":\"{{item.line_price|money|strip_html|default:null}}\",\"price\":\"{{item.price|money|strip_html|default:null}}\",\"product_id\":\"{{item.product_id|default:null}}\",\"quantity\":{{item.quantity|default:null}},\"sku\":\"{{item.sku|default:null}}\",\"title\":\"{{item.title}}\",\"variant_id\":{{item.variant_id|default:null}},\"vendor\":\"{{item.vendor|default:null}}\",\"id\":{{item.id|default:null}}}"{% if forloop.last != true %},{% endif %}{% endfor %}}}}</script>{% else %}<script>window.gorgiasChatParameters = {"smooch": {"properties": {"shopify__cart__total_price": "{{ cart.total_price | money | strip_html | default: null }}","shopify__cart__nb_of_items": {{ cart.items | size | default: 0 }},{% for item in cart.items %}"shopify__cart__items-{{ forloop.index }}-[]":"{\"line_price\":\"{{item.line_price|money|strip_html|default:null}}\",\"price\":\"{{item.price|money|strip_html|default:null}}\",\"product_id\":\"{{item.product_id|default:null}}\",\"quantity\":{{item.quantity|default:null}},\"sku\":\"{{item.sku|default:null}}\",\"title\":\"{{item.title}}\",\"variant_id\":{{item.variant_id|default:null}},\"vendor\":\"{{item.vendor|default:null}}\",\"id\":{{item.id|default:null}}}"{% if forloop.last != true %},{% endif %}{% endfor %}}}}</script>{% endif %}<script src="https://config.gorgias.io/production/ZPB9rx1Yd8xWVa3O/chat/DrQqY7X1QlxL4Wjv.js" defer></script></div><!--Gorgias Chat Widget End-->
<script>
  window.addEventListener('load', function(){
    jQuery('#add-to-cart-button').click(function(){
 gtag('event', 'conversion', {'send_to': 'AW-771034636/7q_hCJv84dYBEIyc1O8C'});      
    });
  });
</script>
  

{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
</html>